{% extends 'default.html' %}

{% block title %}
	Ads by Category
{% endblock title %}

{% block content %}
    <h2>Все объявления в выбранной категории "{{ category }}"</h2>
    <hr>
	{% if request.user.is_authenticated %}
		{% if is_not_subscriber %}
			<button> <a href="{% url 'subscribe' pk=category.pk %}">Подписаться</a></button>
		{% else %}
			<button> <a href="{% url 'unsubscribe' pk=category.pk %}">Отписаться</a></button>
		{% endif %}
	{% endif %}
	{% if category %}
		<table cellpadding="5">
			<tr>
				<th>Заголовок</th>
				<th>Дата публикации</th>
				<th>Категория</th>
			</tr>
			{% for adv in category_ads_list %}
				<tr>
					<td><a href="{% url 'adv_detail' pk=adv.pk %}">{{ adv.headline }}</a></td>
					<td>{{ adv.created_at|date:'d.m.Y H:i' }}</td>
					<td>{{ category }}</td>
				</tr>
			{% endfor %}
		</table>
	{% else %}
		<h2>Объявлений нет!</h2>
	{% endif %}
	<!-- Добавляем пагинацию на страницу -->
	<!-- Информация о предыдущих страницах -->
	{% if paginator.num_pages != 1 %}
		{% if page_obj.has_previous %}
			<a href="?page=1">&laquo;Первая</a>
			...
			<a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
		{% endif %}
		<!-- Информация о текущей странице -->
		|{{ page_obj.number }}|
		<!-- Информация о следующих страницах -->
		{% if page_obj.has_next %}
			<a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
			...
			<a href="?page={{ page_obj.paginator.num_pages }}">Последняя&raquo;</a>
		{% endif %}
	{% endif %}

{% endblock content %}
