{% extends 'default.html' %}

{% load custom_filters %}

{% block title %}
	Ads by Category
{% endblock title %}

{% block content %}
    <h2>Все объявления в выбранной категории "{{ category }}"</h2>
    <hr>
	{% if is_not_subscriber %}
		<button> <a href="{% url 'subscribe_list' pk=category.pk %}">Подписаться</a></button>
	{% endif %}
	{% if category %}
		<table>
			<tr>
				<th>Заголовок</th>
				<th>Дата публикации</th>
				<th>Категория</th>
			</tr>
			{% for ad in category_news_list %}
				<tr>
					<td><a href="{% url 'ad_detail' pk=ad.pk %}">{{ ad.headline }}</a></td>
					<td>{{ ad.datetime_in|date:'d.m.Y H:i' }}</td>
					<td>
						{% for cat in ad.category.all %}
							<a href="{% url 'category_list' pk=cat.pk %}">{{ cat }}</a>
						{% endfor %}
					</td>
				</tr>
			{% endfor %}
		</table>
	{% else %}
		<h2>Объявлений нет!</h2>
	{% endif %}
	<!-- Добавляем пагинацию на страницу -->
	<!-- Информация о предыдущих страницах -->
	{% if paginator.num_pages != 1 %}
		{% if page_obj.has_previous %}
			<a href="?page=1">&laquo;Первая</a>
			...
			<a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
		{% endif %}
		<!-- Информация о текущей странице -->
		|{{ page_obj.number }}|
		<!-- Информация о следующих страницах -->
		{% if page_obj.has_next %}
			<a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
			...
			<a href="?page={{ page_obj.paginator.num_pages }}">Последняя&raquo;</a>
		{% endif %}
	{% endif %}

{% endblock content %}
